.titulo{
	font-size: 13px;     
	font-weight: normal;     
	padding: 8px;     
	background: #b9c9fe;
    border-top: 4px 
    solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039;
    text-align: center;
    width: 30px;
}

.registros{
	padding: 8px;     
	background: #e8edff;     
	border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent;
    text-align: left;
	width : 30px;
}

.imagen{

	width: 100px; 
	height: 100px;
	margin-left: 80px;
}

table th,tr,td{
	text-align: center;
}